name: Build and deploy ESMOS Monitor Trigger to Azure Function App

on:
    push:
        branches:
            - main
    workflow_dispatch:

env:
    AZURE_FUNCTIONAPP_PACKAGE_PATH: "."
    NODE_VERSION: "20.x"

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: read

        steps:
            - name: Checkout GitHub Action
              uses: actions/checkout@v4

            - name: Setup Node ${{ env.NODE_VERSION }} Environment
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ env.NODE_VERSION }}

            - name: "Resolve Project Dependencies Using Npm"
              shell: bash
              run: |
                  pushd './${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}'
                  npm ci
                  npm run build --if-present
                  npm run test --if-present
                  npm prune --production
                  popd

            - name: "Zip artifact for deployment"
              run: |
                  pushd './${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}'
                  zip -r release.zip . -x "*.git*" "*.github*" "src/*" "tsconfig.json" ".gitignore" ".vscode/*" "local.settings.json" "test/*" 
                  popd

            - name: Upload artifact for deployment job
              uses: actions/upload-artifact@v4
              with:
                  name: node-app
                  path: release.zip

    deploy:
        runs-on: ubuntu-latest
        needs: build
        permissions:
            id-token: write
            contents: read

        steps:
            - name: Download artifact from build job
              uses: actions/download-artifact@v4
              with:
                  name: node-app

            - name: Login to Azure
              uses: azure/login@v2
              with:
                  client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_0FB091D806A74753A9E60F7B2090397B }}
                  tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_3FE9C6BB424F4CE2B416A3DE26D229BE }}
                  subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_18EEAE585116444BBAA6DDDD24BD6428 }}

            - name: "Run Azure Functions Action"
              uses: Azure/functions-action@v1
              id: fa
              with:
                  app-name: "esmos-monitor-trigger"
                  slot-name: "Production"
                  package: release.zip
